          
      
*{
  box-sizing: border-box;
}
body{
  background: linear-gradient(to right,rgba(1,2,145,0.123),rgba(12,2,135,0.123));
  overflow: hidden;
}
.container{
  width:100%;
  height:100%;
  background:transparent;
}
.container1{
  width:70%;
  height:80%;
  background: rgba(1,2,145,0.219);
  box-shadow:5px 5px 5px black;
  position:absolute;
  left:245px;
  top:100px;
  
  
  
  
  border-radius:20px;
  border:2px solid rgba(255,255,255,0.10);
}
.heading{
  color:black;
  font-size:4.4rem;
  position:relative;
  left:19%;
  bottom:45px;
  letter-spacing:4px;
}

 .heading::first-letter{
  font-size:4.8rem;
  color:red;
 }

 #input{
  width:80%;
  font-size:3.5rem;
  height:76px;
  padding:15px 15px;
  border-radius:20px;
  box-shadow:0 0 5px cyan;
  position:absolute;
  left:94px;
  top:110px;
  border:none;


 }

 #input:hover{
  color:skyblue;
  background: rgba(0,0,0,0.456);
 }

.section{
  background: white;
  width:80%;
  height:60%;
  border-radius:20px;
  position:relative;
  left:97px;
  top:40px;
  box-shadow:0 0 0 1px cyan;
}
#searchbtn{

  padding:12px 8px;
  position:absolute;
  left:74.9%;
  top:19%;
  font-size:2.5rem;
  background-color:cyan;
  border-radius:17px;
  box-shadow:0 0 0 1px cyan;
  color:black;
  border:none;
  outline:none;
  cursor:pointer;
}

 #searchbtn:active{
  color:green;
  transform:scale(1.1);
  background: linear-gradient(to right,green,pink);
 }

 #meaning{
  color:black;
  font-size:20px;
  padding:25px;
  justify-content: space-between;
  letter-spacing:10px;
  line-height:28px;
 }

 #word{
  color:black;
  font-size:2.3rem;
  padding:30px;
  letter-spacing:10px;
  line-height:7px;

 }
